{% extends 'base.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
        <!-- Este es el sideboard, lo traigo de includes/dashboard_sidebar.html -->
        {% include 'includes/dashboard_sidebar.html' %}
        
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Cambiar contraseña</strong>
            </header>
            <div class="card-body">
   
                <div class="row">
                    <div class="col-md-12">
                                               <!-- Este form lleva enctype multipart para que acepte archivos-->
                        <form class="" action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        

                                <div class="form-group">
                                    <label>Contraseña actual</label>
                                    <input type="password" name="current_password" placeholder="Contraseña actual" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Ingrese nueva contraseña</label>
                                    <input type="password" name="new_password" placeholder="Nueva contraseña" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Confirme nueva contraseña</label>
                                    <input type="password" name="confirm_password" placeholder="Confirmar contraseña" class="form-control" required>
                                </div>


                            <input type="submit" name="" value="Guardar" class="btn btn-primary">


                        </form>

                    </div>

                </div>
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}