{% extends 'base.html' %}

{% block content %}




<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Nuestra Tienda</h2>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categorias</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">
                            

                                <ul class="list-menu">
                                    <li><a href="{% url 'store' %}">Todas las categorias</a></li>
                                    {% for category in links %}
                                    <li><a href="{{ category.get_url }}">{{ category.category_name }} </a></li>
                                    {% endfor %}

                                </ul>


                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Tamanos </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_4" style="">
                            <div class="card-body">
                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> XS </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> SM </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> LG </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> XXL </span>
                                </label>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->

                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Precios </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_3" style="">
                            <div class="card-body">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <!-- <input class="form-control" placeholder="$0" type="number"> -->
                                        <select class="mr-2 form-control">
                                            <option value="0">$0</option>
                                            <option value="50">$50</option>
                                            <option value="100">$100</option>
                                            <option value="150">$150</option>
                                            <option value="200">$200</option>
                                            <option value="500">$500</option>
                                            <option value="1000">$1000</option>
                                        </select>
                                    </div>
                                    <div class="form-group text-right col-md-6">
                                        <label>Max</label>
                                        <select class="mr-2 form-control">
                                            <option value="50">$50</option>
                                            <option value="100">$100</option>
                                            <option value="150">$150</option>
                                            <option value="200">$200</option>
                                            <option value="500">$500</option>
                                            <option value="1000">$1000</option>
                                            <option value="2000">$2000+</option>
                                        </select>
                                    </div>
                                </div> <!-- form-row.// -->
                                <button class="btn btn-block btn-primary">Buscar</button>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->

                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto"> <b>{{ product_count }}</b> Productos encontrados</span>

                    </div>
                </header><!-- sect-heading -->

                <div class="row">
                    <!-- este if hará que en el caso de que no hayan productos, no se muestren y muestre un mensaje que esta abajo -->
                    {% if products %}
                    <!-- Esto es un ciclo for para mostrar productos -->
                    {% for product in products %}
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">

                                <a href="{{ product.get_url }}">
                                <img src="{{ product.images.url  }}">
                                </a>

                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <div class="fix-height">
                                    <!-- LLeva doble {} porque es una propiedad -->
                                    <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                                    <div class="price-wrap mt-2">
                                        <span class="price">${{ product.price }}</span>
                                        
                                    </div> <!-- price-wrap.// -->
                                </div>
                                <a href="{% url 'add_cart' product.id %}" class="btn btn-block btn-success">Agregar al carrito </a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}
                    {% else %}
                    <div>
                        <h2> No se encontraron resultados </h2>
                    </div>
                    {% endif %}


                </div> <!-- row end.// -->


                <nav class="mt-4" aria-label="Page navigation sample">

                    <!-- El paginador no se mostrará cuando no haya más productos de 5 o dependiendo lo que elijas-->
                    <!-- Esto es una funcion del paginator -->
                    {% if products.has_other_pages %}
                    <ul class="pagination">
                        <!-- Esto hace que cuando un usuario este en la pagina 1, el boton anterior este deshabilitado -->    
                        {% if products.has_previous %}
                        <!-- con esto en el href voy a la pagina anterior, también es necesario quitar el disabled que ya lo hice -->
                        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Anterior</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                        {% endif %}

                        <!-- Esto creará el numero de paginaciones de forma automatica -->
                        {% for i in products.paginator.page_range %}
                            
                        <!-- esto hará que si estoy en la pagina 1, el boton 1 estará deshabilitado -->
                            {% if products.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        
                        {% endfor %}

                        <!-- hará lo mismo que el boton anterior, pero en siguiente, al llegar al limite se deshabilita -->
                        {% if products.has_next %}
                        <!-- boton siguiente habilitado-->
                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Siguiente</a></li>
                        {% else %}
                        <!-- boton deshabilitado -->
                        <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
                        {% endif %}

                    </ul>
                    {% endif %}
                </nav>

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->





{% endblock %}